[submodule "Catch"]
	path = Catch
	url = https://github.com/philsquared/Catch.git
[submodule "rapidcheck"]
	path = rapidcheck
	url = https://github.com/emil-e/rapidcheck
[submodule "wiertlo"]
	path = wiertlo
	url = https://github.com/milleniumbug/wiertlo
[submodule "yet_another_process_library"]
	path = yet_another_process_library
	url = https://github.com/milleniumbug/yet_another_process_library
